
.venv/Lib/site-packages/requests/__pycache__/packages.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/sessions.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/models.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/structures.cpython-312.pyc
*.pyc
*.ps1
*.bat
*.exe
.venv/
*.txt
*.typed
*.pem
*.cfg
*.pyd
*.c
*.h
*.rst
*.gz
*.md
*.pyi
*.png
*.css
variable.json