
.venv/Lib/site-packages/requests/__pycache__/packages.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/sessions.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/models.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/structures.cpython-312.pyc
*.pyc
*.ps1
*.bat
*.exe
*.js
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/RECORD
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/INSTALLER
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/LICENSE
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/METADATA
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/top_level.txt
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/WHEEL
.venv/Lib/site-packages/certifi/cacert.pem
.venv/Lib/site-packages/certifi/py.typed
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/entry_points.txt
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/INSTALLER
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/LICENSE
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/METADATA
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/RECORD
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/WHEEL
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/top_level.txt
.venv/Lib/site-packages/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
.venv/Lib/site-packages/charset_normalizer/md.cp312-win_amd64.pyd
.venv/Lib/site-packages/idna-3.7.dist-info/INSTALLER
.venv/Lib/site-packages/charset_normalizer/py.typed
.venv/Lib/site-packages/idna-3.7.dist-info/METADATA
.venv/Lib/site-packages/idna-3.7.dist-info/LICENSE.md
.venv/Lib/site-packages/idna-3.7.dist-info/RECORD
.venv/Lib/site-packages/idna-3.7.dist-info/WHEEL
.venv/Lib/site-packages/pip-24.1.1.dist-info/AUTHORS.txt
.venv/Lib/site-packages/idna/py.typed
*.txt
.venv/Lib/site-packages/pip-24.1.1.dist-info/INSTALLER
.venv/Lib/site-packages/pip-24.1.1.dist-info/RECORD
.venv/Lib/site-packages/pip-24.1.1.dist-info/METADATA
.venv/Lib/site-packages/pip-24.1.1.dist-info/REQUESTED
.venv/Lib/site-packages/pip-24.1.1.dist-info/WHEEL
*.typed
*.pem
.venv/Lib/site-packages/requests-2.32.3.dist-info/INSTALLER
.venv/Lib/site-packages/requests-2.32.3.dist-info/LICENSE
.venv/Lib/site-packages/requests-2.32.3.dist-info/METADATA
.venv/Lib/site-packages/requests-2.32.3.dist-info/RECORD
.venv/Lib/site-packages/requests-2.32.3.dist-info/WHEEL
.venv/Lib/site-packages/requests-2.32.3.dist-info/REQUESTED
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/INSTALLER
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/METADATA
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/RECORD
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/WHEEL
.venv/Scripts/activate
*.cfg
.venv/Lib/site-packages/blinker-1.8.2.dist-info/INSTALLER
.venv/Lib/site-packages/blinker-1.8.2.dist-info/METADATA
.venv/Lib/site-packages/blinker-1.8.2.dist-info/RECORD
.venv/Lib/site-packages/blinker-1.8.2.dist-info/WHEEL
.venv/Lib/site-packages/bson-0.5.10.dist-info/INSTALLER
.venv/Lib/site-packages/bson-0.5.10.dist-info/METADATA
.venv/Lib/site-packages/bson-0.5.10.dist-info/RECORD
.venv/Lib/site-packages/bson-0.5.10.dist-info/REQUESTED
.venv/Lib/site-packages/bson-0.5.10.dist-info/WHEEL
*.pyd
*.c
*.h
.venv/Lib/site-packages/click-8.1.7.dist-info/INSTALLER
*.rst
.venv/Lib/site-packages/click-8.1.7.dist-info/METADATA
.venv/Lib/site-packages/click-8.1.7.dist-info/RECORD
.venv/Lib/site-packages/click-8.1.7.dist-info/WHEEL
.venv/Lib/site-packages/colorama-0.4.6.dist-info/INSTALLER
.venv/Lib/site-packages/colorama-0.4.6.dist-info/METADATA
.venv/Lib/site-packages/colorama-0.4.6.dist-info/RECORD
.venv/Lib/site-packages/colorama-0.4.6.dist-info/WHEEL
*.gz
.venv/Lib/site-packages/dnspython-2.6.1.dist-info/INSTALLER
.venv/Lib/site-packages/dnspython-2.6.1.dist-info/METADATA
.venv/Lib/site-packages/dnspython-2.6.1.dist-info/licenses/LICENSE
.venv/Lib/site-packages/dnspython-2.6.1.dist-info/WHEEL
.venv/Lib/site-packages/dnspython-2.6.1.dist-info/RECORD
.venv/Lib/site-packages/flask-3.0.3.dist-info/INSTALLER
.venv/Lib/site-packages/flask-3.0.3.dist-info/RECORD
.venv/Lib/site-packages/flask-3.0.3.dist-info/METADATA
.venv/Lib/site-packages/flask-3.0.3.dist-info/WHEEL
*.md
.venv/Lib/site-packages/flask-3.0.3.dist-info/REQUESTED
.venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/INSTALLER
.venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/METADATA
.venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/RECORD
.venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/WHEEL
.venv/Lib/site-packages/jinja2-3.1.4.dist-info/INSTALLER
.venv/Lib/site-packages/jinja2-3.1.4.dist-info/METADATA
.venv/Lib/site-packages/jinja2-3.1.4.dist-info/RECORD
.venv/Lib/site-packages/jinja2-3.1.4.dist-info/WHEEL
.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/INSTALLER
.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/METADATA
.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/WHEEL
.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/RECORD
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/INSTALLER
*.pyi
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/licenses/LICENSE
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/RECORD
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/METADATA
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/REQUESTED
.venv/Lib/site-packages/pymongo-4.8.0.dist-info/WHEEL
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/INSTALLER
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/LICENSE
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/METADATA
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/RECORD
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/WHEEL
.venv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/zip-safe
.venv/Lib/site-packages/six-1.16.0.dist-info/INSTALLER
.venv/Lib/site-packages/six-1.16.0.dist-info/LICENSE
.venv/Lib/site-packages/six-1.16.0.dist-info/METADATA
.venv/Lib/site-packages/six-1.16.0.dist-info/RECORD
.venv/Lib/site-packages/six-1.16.0.dist-info/WHEEL
.venv/Lib/site-packages/werkzeug-3.0.3.dist-info/METADATA
.venv/Lib/site-packages/werkzeug-3.0.3.dist-info/INSTALLER
.venv/Lib/site-packages/werkzeug-3.0.3.dist-info/RECORD
.venv/Lib/site-packages/werkzeug-3.0.3.dist-info/WHEEL
*.png
*.css
