
.venv/Lib/site-packages/requests/__pycache__/packages.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/sessions.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/models.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/status_codes.cpython-312.pyc
.venv/Lib/site-packages/requests/__pycache__/structures.cpython-312.pyc
*.pyc
*.ps1
*.bat
*.exe
*.js
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/RECORD
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/INSTALLER
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/LICENSE
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/METADATA
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/top_level.txt
.venv/Lib/site-packages/certifi-2024.6.2.dist-info/WHEEL
.venv/Lib/site-packages/certifi/cacert.pem
.venv/Lib/site-packages/certifi/py.typed
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/entry_points.txt
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/INSTALLER
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/LICENSE
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/METADATA
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/RECORD
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/WHEEL
.venv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/top_level.txt
.venv/Lib/site-packages/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
.venv/Lib/site-packages/charset_normalizer/md.cp312-win_amd64.pyd
.venv/Lib/site-packages/idna-3.7.dist-info/INSTALLER
.venv/Lib/site-packages/charset_normalizer/py.typed
.venv/Lib/site-packages/idna-3.7.dist-info/METADATA
.venv/Lib/site-packages/idna-3.7.dist-info/LICENSE.md
.venv/Lib/site-packages/idna-3.7.dist-info/RECORD
.venv/Lib/site-packages/idna-3.7.dist-info/WHEEL
.venv/Lib/site-packages/pip-24.1.1.dist-info/AUTHORS.txt
.venv/Lib/site-packages/idna/py.typed
*.txt
.venv/Lib/site-packages/pip-24.1.1.dist-info/INSTALLER
.venv/Lib/site-packages/pip-24.1.1.dist-info/RECORD
.venv/Lib/site-packages/pip-24.1.1.dist-info/METADATA
.venv/Lib/site-packages/pip-24.1.1.dist-info/REQUESTED
.venv/Lib/site-packages/pip-24.1.1.dist-info/WHEEL
*.typed
*.pem
.venv/Lib/site-packages/requests-2.32.3.dist-info/INSTALLER
.venv/Lib/site-packages/requests-2.32.3.dist-info/LICENSE
.venv/Lib/site-packages/requests-2.32.3.dist-info/METADATA
.venv/Lib/site-packages/requests-2.32.3.dist-info/RECORD
.venv/Lib/site-packages/requests-2.32.3.dist-info/WHEEL
.venv/Lib/site-packages/requests-2.32.3.dist-info/REQUESTED
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/INSTALLER
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/METADATA
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/RECORD
.venv/Lib/site-packages/urllib3-2.2.2.dist-info/WHEEL
.venv/Scripts/activate
*.cfg
