<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWT</title>
</head>

<body>
    token : {{token}}<br/>
    user_id : {{user_id}}<br/>
    user_pw: {{user_pw}}



    <!-- {% if(name == "Geeksforgeeks") %}
    <h3> Welcome </h3>
    {% else %}
    <h3> Unknown name entered: {{name}} </h3>
    {% endif %} -->


    <!-- {% for course in courses%}
    <h4> {{course}} </h4>
    {% endfor %} -->
</body>

</html>